<!DOCTYPE HTML>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/styles_j.css">
      <link href='http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <!--[if lt IE 9]>
	 <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
	 <header>
	    <h1><a href="index.htm">GIS and graphics resources</a></h1>

	    <p class="view"><a href="https://github.com/cgordon-gis/">View the Project on GitHub <small>kshaffer/musicianshipResources</small></a></p>

	    <ul>
          <li><a href="https://github.com/kshaffer/musicianshipResources/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/kshaffer/musicianshipResources/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/kshaffer/musicianshipResources">View On <strong>GitHub</strong></a></li>
        </ul>
	 </header>

	 <section>
	    {{ content }}
	 </section>

	 <footer>
	    <p>Clare Gordon 2020</p>
	 </footer>
      </div>

   </body>
</html>
