<!DOCTYPE HTML>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/styles_j.css">
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <!--[if lt IE 9]>
	 <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
	 <header>
	    <h1><a href="index.htm">GIS and graphics resources</a></h1>

	    <p class="view"><a href="https://github.com/cgordon-gis/">View the Project on GitHub <small>cgordon-gis</small></a></p>

	    {% comment %}
	    This snippet spits out the HTML navigation derived from the front matter settings in your markdown files.
	    https://gist.github.com/dominikwilkowski/c7d916c9b36e4eebbc90

	    Usage:
	    {% include navigation.liquid %}

	    Return:
	    HTML direct output

	    Required:
	    Front matter needs this element:
	    ---
	    weight: "010.030.020"
	    ---
	    {% endcomment %}


	    {% assign pages = site.pages | sort: "weight" %}
	    {% assign levels = 0 %}

	    <nav class="navigation-wrapper">
	       <ul class="navigation">
		  {% for thisPage in pages %}


		  {% comment %}
		  GETTING CURRENT LEVEL
		  {% endcomment %}
		  {% assign thisLevels = thisPage.weight | split: "." %}
		  {% assign thisLevels = thisLevels.size %}


		  {% comment %}
		  SAME LEVEL
		  {% endcomment %}
		  {% if level == thisLevels %}
		  </li>
		  {% endif %}


		  {% comment %}
		  NEXT HIGHER LEVEL
		  {% endcomment %}
		  {% if level < thisLevels %}
		  <ul class="navigation-subnav">
		     {% endif %}


		     {% comment %}
		     NEXT LOWER LEVEL
		     {% endcomment %}
		     {% if level > thisLevels %}
		     </li>
		  </ul>
		  {% endif %}

		  {% comment %}
		  OUTPUT THE LINK
		  {% endcomment %}
		  <li class="navigation-item">
		     <a class="navigation-link{% if page.url == thisPage.url %} is-active{% endif %}" href="{{ thisPage.url }}">
			{{ thisPage.title }}
		     </a>


		     {% comment %}
		     ASSIGNING CURRENT LEVEL
		     {% endcomment %}
		     {% assign level = thisLevels %}

		     {% endfor %}

		  </li>
	       </ul>
	    </nav>

	 </header>

	 <section>
	    {{ content }}
	 </section>

	 <footer>
	    <p>Clare Gordon 2020</p>
	 </footer>
      </div>

   </body>
</html>
